*{
    margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    nav{
        position: fixed;
        display: flex;
        background-color: white;
        justify-content: space-between;
        width: 100%;
        padding: 10px 10px;
        border-bottom: 1px solid rgb(67, 58, 58);
        z-index: 100;
    }
    nav a{
        font-size: 110%;
        text-decoration: none;
        color: black;
        display: inline-block;
        padding: 10px;
    }
    nav a:hover{
        background-color: lightgray;
    }
    header{
        text-align: center;
    }
    header img{
        height: 100%;
        width: 100%;
    }
    .food2{
        text-align: center;
        font-size: xx-large;
    }
    .food2 img {
        height: 100%;
        width: 35%;
        text-align: center;
        margin: 200px;
    }
    .food22{
        margin: -110px;
        margin-top: 280px;
        margin-right: 70px;
        font-size: 70%;
    }
    .food22 h2{
        font-size: 100%;
    }
    #p{
        color: cadetblue;
    }
    .food3{
        font-size: 135%;
    }
    .food3 img{
        height: 85%;
        width: 30%;
        margin-left: 200px;
    }
    .food33 h1{
        margin-top: 100px;
        text-align: center;
        margin-left: 200px;
        font-size: 150%;
    }
    .food33 h2{
        margin-top: 50px;
        margin-left: 200px;
        font-size: 100%;
    }
    .food33 h2 p{
        font-size: 90%;
        color: cadetblue;
    }
    .food33 h3{
        margin-top: 50px;
        margin-left: 200px;
        font-size: 100%;
    }
    .food33 h3 p{
        font-size: 90%;
        color: cadetblue;
    }
    .food33 h4{
        margin-top: 50px;
        margin-left: 200px;
        font-size: 100%;
    }
    .food33 h4 p{
        font-size: 90%;
        color: cadetblue;
    }
    .food33 h5{
        margin-top: 50px;
        margin-left: 200px;
        font-size: 100%;
    }
    .food33 h5 p{
        font-size: 90%;
        color: cadetblue;
    }
    .food33 h6{
        margin-top: 50px;
        margin-left: 200px;
        font-size: 100%;
    }
    .food33 h6 p{
        font-size: 90%;
        color: cadetblue;
    }
    .contact{
        text-align: center;
        font-size: x-large;
    }
    .contact p{
        font-size: 75%;
    }
    #p1{
        font-size: 85%;
        color: gray;
    }
    
    input{
        width: 70%;
        border: none;
        padding: 10px;
        margin: 10px;
    }
    button{
        font-size: 85%;
    }
    footer{
        background-color: rgba(0, 250, 212, 0.701);
        height: 100px;
        text-align: center;
        padding-top: 30px;
        font-size: 20px;
    }
